/* CSS untuk tampilan The Matrix */
body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #000;
  color: #00ff00;
  margin: 0;
  padding: 0;
  overflow-y: auto; /* Mengizinkan scroll vertikal */
  overflow-x: hidden; /* Menyembunyikan scroll horizontal */
}

table {
  background-color: rgba(0, 0, 0, 0.7);
}

td { 
  padding: 10px;
}
body::-webkit-scrollbar {
  width: 0px; /* Atur lebar scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: #000000; /* Atur warna track scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: #00ff00; /* Atur warna thumb scrollbar */
}


.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.logo {
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
}

.logo img {
  width: 350px;
  height: auto;
}

.btn-group {
  text-align: center;
  margin: 20px 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  border-radius: 4px;
}

.daftar {
  background-color: #ff0000;
  color: #fff;
}

.login {
  background-color: #0000ff;
  color: #fff;
}

.btn:hover {
  background-color: #00cc00;
}

.image {
  text-align: center;
  margin: 40px 0;
}

.image img {
  max-width: 100%;
  height: auto;
}

.article {
text-align: justify;
line-height: 1.5;
background-color: rgba(0, 0, 0, 0.75);
padding: 20px;
border-radius: 10px;
}


/* Responsif untuk perangkat mobile */
@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .logo img {
    width: 350px;
  }

  .btn {
    display: block;
    margin: 10px 0;
  }
}

/* Animasi angka dan huruf kanji acak pada background */
.matrix-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: -1;
    background-color: #000;
    opacity: 0.9;
    overflow: hidden;
}

.matrix-bg:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: -1;
    opacity: 0.6;
    animation: matrix-anim 20s linear infinite;
}

@keyframes matrix-anim {
    0% {
    transform: translateY(0);
    }
    100% {
    transform: translateY(-100%);
    }
}

.matrix-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: -1;
    opacity: 1;
    animation: matrix-text-anim 2s linear infinite;
}

@keyframes matrix-text-anim {
    0% {
    opacity: 0;
    }
    20% {
    opacity: 1;
    }
    80% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    }
}

.matrix-text span {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    font-size: 18px;
    line-height: 1;
    white-space: nowrap;
    transform: translateY(-100%);
    animation: animate 15s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

canvas {display: block;}

footer {background-color: rgba(0, 0, 0, 0.7);padding: 10px;text-align: center;color: #00ff00;font-size: 14px; }

a {
  text-decoration: none; /* Menghilangkan underline */
  font-weight: bold; /* Membuat huruf lebih tebal */
  color: #ff0000; /* Mengubah warna teks menjadi hijau */
}

.KIJANG777 {
  width: 100%;
}

.KIJANG777 th {
  text-align: center;
  font-weight: bold;
}

.KIJANG777 .tab-title {
  font-weight: bold;
}

.text-marquee {
  overflow: hidden;
  position: relative;
  background-color: #000;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.text-marquee__content {
  position: absolute;
  top: 0;
  left: 100%;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

